<html>
<head>
	<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="singleCountryVisualization.js"></script>
	<script>
		$(document).ready(function(){
			$('#country').on('change', function() {
				$('#parameter').prop('disabled', false)
			});
			$('#parameter').on('change', function() {
				$('#lineChart').prop('disabled', false)
				$('#barChart').prop('disabled', false)
				
			});
		});
	</script>
   <link href="bootstrap.css" rel="stylesheet">
</head>
<body ng-app="dataCtrl" ng-controller="jsonDataCtrl">


    <input id="country" type="text" ng-model="countrySelected" uib-typeahead="country for country in countries | filter:$viewValue" class="form-control" style="width: 20%" placeholder="Start Typing a Country's Name..">
	<br>
	
	

    <select id="parameter" ng-model="paramSelected" ng-options='param for param in params' disabled>{{paramSelected}}</select>
	<br>
    
	
	<button type="button" class="btn btn-primary" id="lineChart" ng-click="showChart(0)" disabled>Line Chart</button>
	<button type="button" class="btn btn-primary" id="barChart" ng-click="showChart(1)" disabled>Bar Chart</button>
	

    <div id="container" class="container" style="min-width: 310px; height: 400px; margin: 0 auto">

</body>
</html>