<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World Urban Development Data Visualization</title>
 
<!--     
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  -->
<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="singleCountryVisualization.js"></script>
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

      <link rel="stylesheet" type="text/css" href="style.css">

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  
    <script>
           $(function() {
            $(".link").hover(function(){
                $(this).css("background-color", "#93c4e1"); //
                $(this).css("border-radius", "25px");
                $(this).css("color", "#FFFFFF");
            }, function(){
                $(this).css("background-color", "#FFFFFF");
                $(this).css("color", "#428bca");
            });
        });
    </script>

</head>
<body ng-app="dataCtrl" ng-controller="jsonDataCtrl">
  <div id="globalheader">

    <h1>World Urban Development Data Visualization</h1>
      <br>
        <a class="link defaultBackground" href="single.html">Country Analysis </a>&nbsp;&nbsp;&nbsp;
        <a class="link defaultBackground" href="mapBasedVisualization.html">Multi Country Comparison </a>&nbsp;&nbsp;&nbsp;
        <a class="link defaultBackground" href="mapBasedVisualization.html">Map Based Visualization</a>

  </div>


    <div id="main_content" style="width: 800px">
    </div>

    <input type="text" ng-model="countrySelected" uib-typeahead="country for country in countries | filter:$viewValue" class="form-control" style="width: 20%" placeholder="Start Typing a Country's Name..">
  <br>


    <input type="text" ng-model="paramSelected" uib-typeahead="param for param in params | filter:$viewValue" class="form-control" style="width: 20%" placeholder="Start Typing a Parameter's Name..">
  <br>
    <button class="btn btn-primary" id="lineChart" ng-click="showChart(0)">Line Chart</button>
  <button class="btn btn-primary" id="barChart" ng-click="showChart(1)">Bar Chart</button>


    <div id="container" class="container" style="min-width: 310px; height: 400px; margin: 0 auto">

</body>
</html>